body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: #e5e8e8;
}

h1 {
  text-align:center;
  font-size: 75px;
  font-weight: 400;
}

h2{
  text-align:center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0px;
}

p {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}

input[type=button] {
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 0px;
  background-color: inherit;
  border: 2px solid black;
}

input[value] {
  letter-spacing: 3px;
  text-align:center;
}

a :hover {
  cursor: pointer;
}

div {
  text-align:center;
}

.header_image {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 540px;
  width: 90vw;
  overflow: hidden;
}

.header_image img {
  width: 100%;
  height: 110%;
  filter: brightness(85%);
  margin: -192px 0 0 0;
  z-index: -1;
}

.container1 {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-flow: row wrap;
  margin: -385px auto 110px auto;
  width: 90vw;
  max-width:1500px;
}

#box1 {
  height: 390px;
  width: 370px;
  margin-right: 20px;
  margin: 0 10px 15px 10px;
  overflow: hidden;
}

#box1 img {
  width: 110%;
  height: 132%;
  margin: 0px 0px 0px -15px;
}

#box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 390px;
  width: 370px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 10px 15px 10px;
  font-size: 21px;
  font-weight:500;
  letter-spacing: 1.5px;
  text-align:center;
}

.container2 > h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: justify;
}

.container2 {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  flex-flow: row wrap;
  width: 90vw;
  max-width:1500px;
  margin: auto;
  text-align: center;
}

#box3 {
  margin: auto;
  height: 470px;
  width: 650px;
}

#box4 {
  height: 530px;
  width: 400px;
  overflow: hidden;
  margin-bottom: 60px;
}

#box4 img {
  width: 100%;
  height: 105%;
}

.background {
  margin-left: -10px;
  background-color: black;
  width: 101%;
  height: 60%;
  padding: 40px 0px 60px 0px;
  overflow-x: hidden;
  color: white;
  text-align: center;
}

.container3 {
  display: grid;
  grid-template-areas: 
      "companycert_header companycert_header companycert_header"
      "healthcare education government"
      "commercial residential restaurant";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 4fr 4fr;
  grid-row-gap: 40px;
  column-gap: 50px;
  justify-content: center;
  align-content: center;
  margin: 40px 150px 20px 150px;
}

.container3 h2, .container5 h2 {
  font-size: 33px;
  font-weight: 600;
}

#companycert_header {
  grid-area: companycert_header;
  padding-left: 130px;
  padding-right: 130px;
}

#companycert_header h3, .container4 h3, .background h3, .container5 h3 {
  font-size: 140%;
  letter-spacing: 2px;
}

#healthcare, #education, #government, #commercial, #residential, #restaurant {
  align-self: center;
  justify-self: center;
}

#healthcare>img, #education>img, #government>img, #commercial>img, #residential>img, #restaurant>img {
  object-fit: scale-down;
  width: 25%;
}

#healthcare {
  grid-area: healthcare;
}
#education {
  grid-area: education;
}
#government {
  grid-area: government;
}
#commercial {
  grid-area: commercial;
}
#residential {
  grid-area: residential;
}
#restaurant {
  grid-area: restaurant;
}

.container4{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-flow: row nowrap;
  margin: auto;
  padding: 80px 0px 20px 0px;
  width: 90vw;
  max-width:1500px;
}

#health {
  align-self: center;
  height: 500px;
  width: 420px;
  padding: 70px 30px 0 30px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

#tractor{
  height: 500px;
  width: 420px;
  overflow: hidden;
  margin-bottom: 60px;
}

#tractor img {
  width: 100%;
  height: 124%;
}

#health>img, .edugov img {
  object-fit: scale-down;
  width: 19%;
}

.edugov{
  display: grid;
  grid-template: 
      "edu" 1fr
      "gov" 1fr /
      1fr;
  grid-row-gap: 0px;
  justify-content: center;
  align-content: center;
  height: 500px;
  width: 420px;
  margin-bottom: 60px;
  text-align: center;
  background-color: inherit;
}

#edu {
  grid-area: edu;
  align-self: center;
}

#gov {
  grid-area:gov;
  align-self: center;
}

.pictures {
  display: grid;
  grid-template-areas:
      "p1 p2 p3 p4"
      "p5 p6 p7 p8";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0px;
  margin-left: -10px;
  width: 101%;
  overflow-x: hidden;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8 {
  object-fit: scale-down;
  width: 100%;
}

.pictures #p1 {
  grid-area: p1;
}

.pictures #p2 {
  grid-area: p2;
}

.pictures #p3 {
  grid-area: p3;
}

.pictures #p4 {
  grid-area: p4;
}

.pictures #p5 {
  grid-area: p5;
}

.pictures #p6 {
  grid-area: p6;
}

.pictures #p7 {
  grid-area: p7;
}

.pictures #p8 {
  grid-area: p8;
}

.container5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 90vw;
  max-width:1500px;
  margin: auto;
  text-align: center;
  margin-left: -10px;
  width: 101%;
  overflow-x: hidden;
  background-color: white;
}

#box5 {
  height: 350px;
  width: 500px;
  overflow: hidden;
  margin-left: 80px;
}

#box5>img {
  object-fit: scale-down;
  width: 90%;
}

#box6 {
  margin: auto;
  height: 350px;
  width: 520px;
  padding: 60px;
}

.container6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  height: 400px;
  width: 90vw;
  max-width:1500px;
  margin: auto;
  text-align: center;
  margin-left: -10px;
  width: 101%;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

#box7, #box8 {
  height: 50%;
  width: 30%;
}

#box7 {
  padding-top: 80px;
}

@media (max-width:850px) {
  .container3 {
      grid-template: 
      "companycert_header" 1fr
      "healthcare" 1fr
      "education" 1fr
      "government" 1fr
      "commercial" 1fr
      "residential" 1fr
      "restaurant"1fr /
      auto;
      grid-row-gap: 5px;
  }

  #companycert_header {
      grid-area: companycert_header;
      padding-left: 40px;
      padding-right: 40px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .container4, .container5 {
      flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .container4 {
      flex-wrap: wrap;
  }
  #health, #tractor, .edugov {
      width: 100vw;
  }
}

@media (max-width: 950px) {
  .pictures {
      display: grid;
      grid-template-areas:
          "p1 p2"
          "p3 p4"
          "p5 p6"
          "p7 p8";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 650px) {
  .pictures {
      display: grid;
      grid-template-areas:
          "p1"
          "p2"
          "p3"
          "p4"
          "p5"
          "p6"
          "p7"
          "p8";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
  }
}