body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: min-content;
    background-color: azure;
    overflow-y: auto;
    overflow-x: hidden;
}

h1, h2, h3, div {
    align-self: center;
}

#temp {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
    max-width: 50vw;
    grid-gap: 15px 50px;
}